[submodule "vendors/mavryk-ligo"]
	path = vendors/mavryk-ligo
	url = https://gitlab.com/mavryk-network/mavryk-protocol.git
	branch = boreas-ligo
[submodule "tools/lsp-bench/projects/submodules/checker"]
	path = tools/lsp-bench/projects/submodules/checker
	url = https://github.com/marigold-dev/checker-ligo.git
	branch = main
