# LIGO Changelog

{{#changelog}}
{{#is_next}}
# <ins>[{{{version}}}](https://gitlab.com/ligolang/ligo/-/commits/dev)</ins>
{{/is_next}}
{{^is_next}}
# <ins>[{{{version}}}](https://gitlab.com/ligolang/ligo/-/releases/{{{version}}})</ins>
{{/is_next}}
{{#changes}}
{{#breaking_ind}}
{{#breaking}}
* {{{title}}} ([!{{merge_request}} by {{{author}}}](https://gitlab.com/ligolang/ligo/-/merge_requests/{{merge_request}}))
{{/breaking}}
{{/breaking_ind}}
{{#added_ind}}
{{#added}}
* {{{title}}} ([!{{merge_request}} by {{{author}}}](https://gitlab.com/ligolang/ligo/-/merge_requests/{{merge_request}}))
{{/added}}
{{/added_ind}}
{{#fixed_ind}}
{{#fixed}}
* {{{title}}} ([!{{merge_request}} by {{{author}}}](https://gitlab.com/ligolang/ligo/-/merge_requests/{{merge_request}}))
{{/fixed}}
{{/fixed_ind}}
{{#changed_ind}}
{{#changed}}
* {{{title}}} ([!{{merge_request}} by {{{author}}}](https://gitlab.com/ligolang/ligo/-/merge_requests/{{merge_request}}))
{{/changed}}
{{/changed_ind}}
{{#deprecated_ind}}
{{#deprecated}}
* {{{title}}} ([!{{merge_request}} by {{{author}}}](https://gitlab.com/ligolang/ligo/-/merge_requests/{{merge_request}}))
{{/deprecated}}
{{/deprecated_ind}}
{{#removed_ind}}
{{#removed}}
* {{{title}}} ([!{{merge_request}} by {{{author}}}](https://gitlab.com/ligolang/ligo/-/merge_requests/{{merge_request}}))
{{/removed}}
{{/removed_ind}}
{{#performance_ind}}
{{#performance}}
* {{{title}}} ([!{{merge_request}} by {{{author}}}](https://gitlab.com/ligolang/ligo/-/merge_requests/{{merge_request}}))
{{/performance}}
{{/performance_ind}}
{{#internal_ind}}
{{#internal}}
* {{{title}}} ([!{{merge_request}} by {{{author}}}](https://gitlab.com/ligolang/ligo/-/merge_requests/{{merge_request}}))
{{/internal}}
{{/internal_ind}}
{{#other_ind}}
{{#other}}
* {{{title}}} ([!{{merge_request}} by {{{author}}}](https://gitlab.com/ligolang/ligo/-/merge_requests/{{merge_request}}))
{{/other}}
{{/other_ind}}
{{#null_ind}}
{{#null}}
* {{{title}}} ([!{{merge_request}} by {{{author}}}](https://gitlab.com/ligolang/ligo/-/merge_requests/{{merge_request}}))
{{/null}}
{{/null_ind}}

{{/changes}}

{{^changes}}
_No changes for this version_
{{/changes}}

---
{{/changelog}}
